@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  font-family: 'League Spartan', sans-serif;
}


/*------------------Header--------------------*/
header h1 {
  font-weight: 700;
  font-size: 30px;
  color: hsl(300, 43%, 22%);
  line-height: 30px;
  text-align: center;
  margin: 0 64px 30px 64px;
  margin-top: 50px;
  margin-bottom: 10px;
}


/*------------------Footer--------------------*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}