@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  font-family: 'League Spartan', sans-serif;
}
.container{
  margin: 80px auto;
  display: flex;
  flex-direction: column;
}

/*------------------Header--------------------*/

header{
  margin-bottom: 30px;
}

header h1 {
  font-weight: 700;
  font-size: 30px;
  color: hsl(300, 43%, 22%);
  line-height: 30px;
  text-align: center;
  margin: 0 64px 30px 64px;
  margin-top: 50px;
  margin-bottom: 10px;
}

header p {
  font-weight: 500;
  font-size: 14px;
  color: hsl(303, 10%, 53%);
  text-align: center;
  margin: 0 28px 0 28px;
  line-height: 25px;
}

/*------------------Stars--------------------*/
.starscontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.stars{
  background-color: hsl(300, 24%, 96%);
  border-radius: 4px;
  margin: 8px;
  width: 330px;
  height: 80px;
  padding: 15px;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stars .fivestars{
  min-width: 110px;
}

.stars .text{
  min-width: 240px;
  text-align: center;
}

/*------------------Footer--------------------*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}